<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">{{radiolist.label}}</h1>
        <button class="button button-clear button-positive" ng-click="hideItems()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <ion-list>
            <ion-radio
                ng-repeat="option in radiolist.options" 
                ng-click="hideItems(option.value)"
                >
                
                {{ option.label }}
            </ion-radio>
        </ion-list>

    </ion-content>
    
</div>