<ion-view title="SIGN-UP">

    <ion-content>

        <div class="row hit">
            <div class="col col-80 col-offset-10">

                <h1>AuditionWorld</h1>
                <h4>The ultimate tool for talent hunters</h4>
                <br>

                <form name="signup" novalidate>
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="Name"  ng-model="formdata.name" required>
                        </label>
                    </div>

                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="Phone" ng-model="formdata.phone">
                        </label>
                    </div>

                    <div class="list">
                        <label class="item item-input">
                            <input type="email" placeholder="Email" ng-model="formdata.email" required>
                        </label>
                    </div>

                    <div class="list">
                        <label class="item item-input">
                            <input type="password" placeholder="Password" ng-model="formdata.password" required>
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="Confirm Password" ng-model="formdata.confirm_password" required>
                        </label>
                    </div>

                    <button class="button button-block button-calm" ng-disabled="signup.$invalid || (formdata.password != formdata.confirm_password)" ng-click="signup_here(formdata)">SIGN UP</button>

                </form>


            </div>
        </div>

    </ion-content>

</ion-view>